<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>Employee ID</span><span th:text="${employee.employeeId}"></span><br/>
    <span>Forenmae</span><span th:text="${employee.forename}"></span><br/>
    <span>Surname</span><span th:text="${employee.surname}"></span><br/>
    <span>Age</span><span th:text="${employee.age}"></span><br/>
    <span>Company</span><span th:text="${employee.company}"></span><br/>
    <span>Postcode</span><span th:text="${employee.postcode}"></span><br/>	
	<a href="/upload"><button>Add another user</button></a>
	<a href="/allemployee"><button>Show all employee</button></a>
</div>
</body>
</html>